<div class="level">
    <div class="level-left">
        <div class="level-item">
            <p>
                Artist:
            </p>
            <p>
                {{ info.artist }}
            </p>
        </div>
    </div>
</div>
<div class="level">
    <div class="level-left">
        <div class="level-item">
            <p>
                Title:
            </p>
            <p>
                {{ info.title }}
            </p>
        </div>
    </div>
</div>
<form method="POST" action="{{ url_for('download_file', id=id) }}">
    <input id="download" class="button" disabled type="submit" value="Download" />
</form>
</div>
