<h2 class="title is-2">Change information</h2>
<form method="POST" action="{{ url_for('download_file', id=id) }}">
    <div class="field">
        {{ id3_form.artist.label(class_="label") }}
        <div class="control">
            {{ id3_form.artist(class_="input") }}
        </div>
    </div>
    <div class="field">
        {{ id3_form.title.label(class_="label") }}
        <div class="control">
            {{ id3_form.title(class_="input") }}
        </div>
    </div>
    {{ id3_form.hidden_tag() }}
    {{ id3_form.submit(class_="button", disabled=True, id="download") }}
</form>
