.gradient {
    background: linear-gradient(to bottom right, #40E0D0, #FF8C00, #FF0080);
}

.box {
    background: rgba(33, 33, 33, 0.8);
    color: white;
}

.box * {
    color: white;
}

.button {
    background-color: #FF0080;
    border: none;
}

.button[disabled] {
    background-color: rgba(155, 155, 155, 0.5);
    opacity: 1;
}

.input {
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    box-shadow: none;
}

.input:focus, .input:active {
    border-color: #40E0D0;
    border-width: 2px;
    box-shadow: none;
}

.button:hover {
    color: white;
}
