<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Player</title>
        <link href="{{ url_for('static', filename='css/bulma/css/bulma.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='css/player.css') }}" rel="stylesheet" type="text/css"/>
    </head>
    <body class="gradient">
        <div class="hero is-fullheight">
            <div class="hero-body">
                <div class="container box">
                    <h1 class="has-text-centered title is-1">Player</h1>
                        <div class="columns is-centered">
                            <div class="column">
                                <form method="POST">
                                    <div class="field">
                                        {{ link_form.link.label(class_="label") }}
                                        <div class="control">
                                            {{ link_form.link(class_="input") }}
                                        </div>
                                        {% for error in link_form.link.errors %}
                                        <p class="help">
                                            {{ error }}
                                        </p>
                                        {% endfor %}
                                    </div>
                                    <div class="field">
                                    <label class="checkbox">
                                        {{ link_form.display_info(class_="checkbox") }}
                                        {{ link_form.display_info.label }}
                                    </div>
                                    {{ link_form.hidden_tag() }}
                                    <div class="field">
                                        <div class="control">
                                            {{ link_form.submit(class_="button") }}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>
