{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <h2 class="title is-2">Change information</h2>
    <form method="POST">
        <div class="field">
            {{ id3_form.artist.label(class_="label") }}
            <div class="control">
                {{ id3_form.artist(class_="input") }}
            </div>
        </div>
        <div class="field">
            {{ id3_form.title.label(class_="label") }}
            <div class="control">
                {{ id3_form.title(class_="input") }}
            </div>
        </div>
        <div id="download-process">
            <p>
                Processing... Download will begin soon.
            </p>
            <a class="button is-loading">Download</a>
        </div>
        {{ id3_form.hidden_tag() }}
    </form>
{% endblock %}

{% block script %}
{# if the file conversion has started we can begin to make ajax request for the download link #}
{% if id is not none %}
    <script>
        $(document).ready(function(){
            function get_link(){
                $.get("{{ url_for('download_status', id=id) }}", function(data, status){
                    if (data == "SUCCESS") {
                        $('#download-process').empty();
                        $('<a>', {
                            text: "Download",
                            href: "{{ url_for('download_file', id=id) }}",
                            class: "button"
                        }).appendTo('#download-process');
                        clearInterval(interval_id);
                    }
                });
            }

            var interval_id = setInterval(get_link, 1000)
        });
    </script>
{% endif %}

{% endblock %}
